// color
$xmas-red: #AF0E2C;
$bd-grad: linear-gradient(90deg, rgba(221,194,100,1) 0%, rgba(237,218,152,1) 47%, rgba(181,161,91,1) 100%);
$snow-white: rgba(255, 255, 255, .7);
$xmas-brown: #3b2a1c;

// font
$main-font: '07ロゴたいぷゴシック7';
$en-font: 'baskerville-display-pt', serif;
$company-font: 'coffee-service', sans-serif;
