// color
$xmas-red: #AF0E2C;
$xmas-green: #012A22;
$bd-grad: linear-gradient(90deg, rgba(221,194,100,1) 0%, rgba(237,218,152,1) 47%, rgba(181,161,91,1) 100%);
$snow-white: rgba(255, 255, 255, .7);
$xmas-brown: #3b2a1c;
$xmas-gold: #c7ad7d;
$xmas-cream: #f7eddc;
$xmas-beige: #faf7f0;
$xmas-blue: #02004d;
$xmas-red-footer: #920116;

// font family
$main-font: '07ロゴたいぷゴシック7', sans-serif;
$en-font: 'baskerville-display-pt', serif;
$company-font: 'coffee-service', sans-serif;

// font size
$fz16: 1rem;
$fz26: 1.6rem;
$fz14: .8rem;
$fz20: 1.25rem;
$fz30: 1.875rem;
