@charset 'utf-8';
@import 'variables';
@import 'functions';
@import 'custom'; //_custom.scssを読み込み

// 共通
body {
  font-family: $main-font;
  color: $xmas-brown;
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
  height: 8px;
  background: rgb(221,194,100);
  background: linear-gradient(90deg, rgba(221,194,100,1) 0%, rgba(237,218,152,1) 47%, rgba(181,161,91,1) 100%);
  opacity: 1;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.card {
  border-radius: 11px;
  background-color: $xmas-beige;
  border: none;
}

// 商品紹介
.product-detail {
  &__read {
    font-size: $fz16;
    margin-bottom: 6px;
  }
  &__title {
    font-size: $fz26;
    margin-bottom: 8px;
  }
  &__info {
    font-size: $fz14;
    margin-bottom: 12px;
    line-height: 1.5rem;
  }
  &__size {
    font-size: $fz14;
  }
  &__price {
    font-size: $fz26;
  }

  // 商品価格ラベル
  &__label {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  &__size {
    font-size: $fz14;
  }
  &__price {
    font-size: $fz26;
    font-weight: bold;
  }
}
// 商品評価
.assessment {
  display: flex;
  font-size: $fz14;
  margin-bottom: 24px;

  .star {
    color: $xmas-gold;
    margin-right: 12px;

    i {
      margin-right: 4px;
    }
  }
  .comments {
    margin-right: 12px;

    a {
      color: $xmas-brown;
    }
  }
  .favorite {
    img {
      width: 14px;
    }
  }
}
.check-wrapper {
  text-align: center;
}

.check-btn {
  background-color: $xmas-cream;
  border: 2px solid $xmas-brown;
  border-radius: 50px;
  padding: 12px 26px;
  display: inline-block;
  i {
    font-size: $fz16;
    color: $xmas-brown;
  }
  &:hover {
    background-color: #F8F4EC;
    transition: all  0.4s ease;
  }
}

.container {
  margin: 0 auto;
}

//======================= MV=========================
.main-visual {
  background-color: $xmas-red;

  .mv-picture {
    // position: relative;
    img {
      width: 100%;
      position: relative;
    }
  }  

  .mv-logo {
    position: absolute;
    top: 20%;
    left: 32%;
    width: 530px;
  }

  .mv-line {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
  }

  .mv-read {
    display: block;
    margin: 0 auto;
    padding: 100px 0 120px 0;
  }

}

//  =====================Main Dish ===============================
.main-dish {

  &__cake  {
    position: relative;
    &_img {
      width: 100%;
    }
  }

  .product-main {
    background-color: $snow-white;
    border-radius: 38px;
    position: absolute;
    top: 20%;
    right: 120px;
    padding: 30px 24px;

  }

  // チキン
  &__chicken {
    position: relative;

    &_img {
      width: 100%;
    }
  }

  .product-main2 {
    background-color: $snow-white;
    border-radius: 38px;
    position: absolute;
    top: 20%;
    left: 120px;
    padding: 30px 24px;

  }

}

// ==================side dish =================
.side-dish {
  background-color: rgba(1,42,34,.95);
  background-image: url('/img/bg-check.png');
  padding-bottom: 66px;

  &__read_img {
    margin: 0 auto;
    display: block;
    padding: 50px 0;
  }

  .card {
    height: 100%;

    .card-body {
      padding: 30px 26px;
    }
  }
}

// =================appetizers==================
.appetizers {
  background-color: $xmas-blue;
  background-image: url('/img/sparkle-1.svg');
  padding-bottom: 66px;

  .card {
    height: 100%;
  }

  .product-detail {
    &__title {
      font-size: $fz20;
    }
  }

  &__read_img {
    margin: 0 auto;
    display: block;
    padding: 50px 0;
  }
}

// =========== Q&A ========================
.question {
  background-color: $xmas-cream;
  // background-image: url('/img/q-bg-left.svg');
  padding-bottom: 200px;

  &__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;

    img {
      width: 30px;
      margin-right: 8px;
    }
    

    h2 {
      font-size: $fz30;
    }
  }

  .accordion {
    width: 50%;
    margin: 0 auto;

    &-button {
      background-color: $xmas-brown;
      color: $xmas-cream;

      &::after {
        background-image: url('/img/arrow-down.svg');
      }

      &:focus {
        border: none;
        box-shadow: none;
      }
    }

    &-collapse {
      border: 1px solid $xmas-brown;
    }
  }

  .faq-img {
  }
}

// ============footer =======================
footer {
  position: relative;
  background-color: $xmas-red-footer;
  color: $xmas-cream;
  text-align: center;
  padding-top: 80px;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: -145px;
    background-image: url('/img/footer-line.svg');
    background-repeat: repeat-x;
  }

  h3 {
    font-family: coffee-service, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: $fz30;
    transform: rotate(-16deg);
    position: absolute;
    left: 350px;
    top: 56px;
  }

  p {
    font-size: $fz20;

    &:first-child {
      position: relative;
    }
    span {
      font-family: baskerville-display-pt, serif;
      font-weight: 700;
      font-style: italic;
      font-size: $fz30;
    }
  }

  .social {
    margin-bottom: 16px;

    .twitter {
    background-color: $xmas-cream;
    color: $xmas-red;
    font-size: 25px;
    padding: 7px;
    border-radius: 50%;
    margin-right: 12px;
    }

    .instagram {
      background-color: $xmas-cream;
      color: $xmas-red;
      font-size: 25px;
      padding: 7px;
      border-radius: 50%;
      margin-left: 12px;
    }
  }
  

}